.ranp{
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  bottom: 0.2rem;
  right: 0;
  margin: 7px;
}

.card-contents{
  width: 1000px;
}

.card{
  width: 200px;
}
.top_icon{
  height: 100px;
}